html {
  background-image: url('../images/belly.jpg');
  background-size: cover;
 /* background-repeat: no-repeat;*/
  background-position: center;
  background-attachment: fixed;
  left: 0;
  right: 0;
  min-height: 100%;
  width: 100%;
}

#userInput {
  background-color: black;
  color: white;
}


#newGame {
  background-color: black;
  color: white;
}

input {
  background-color: #FF1111;
  font-color: white;
  color: white;
  font-size: 24px;
  padding: 10px;
  border: 2px;
  border-radius: 25px;
  width: auto;
  font-family: 'Euphoria Script', cursive;
}

#landingPage {
  position: absolute;
  top: 25%;
  margin-left: 65%;
  color: #FF1111;
  font-size: 35px;
  text-align: center;
  width: 300px;
  font-family: 'Euphoria Script', cursive;
}

#hangmanPage {
  position: absolute;
  top: 15%;
  margin-left: 65%;
  color: #FF1111;
  font-size: 30px;
  text-align: center;
  font-family: 'Euphoria Script', cursive;
}

h1 {
  font-size: 75px;
  font-weight: bold;
}

h2 {
  font-size: 60px;
  font-weight: bold;
}

h4 {
  font-size: 40px;
}

p {
  font-size: 30px;
}